<template>
    <b-container fluid class="padd">
        <b-row>
          <!-- <b-col cols="1"></b-col> -->
          <b-col col md="8">
            <b-jumbotron v-if="errored">
              <p>Error Experienced</p>            
            </b-jumbotron>
            <section v-else class="section-table">
              <b-container fluid v-if="loading" class="text-center" style="margin-top:10em">
                <b-spinner variant="success" label="Loading..." class="center"></b-spinner>
              </b-container>            
              <div v-else>
                <b-card>
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Category</th>
                        <th scope="col">Details</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(category, index) in categories" :key="index">
                        <th scope="row">{{ ++index }}</th>
                        <td>{{ category.name }}</td>
                        <td>{{ category.details }}</td>
                        <td><b-button v-on:click="loadEdit($event, category.id)" variant="primary">Edit</b-button></td>
                        <td><b-button v-on:click="deleteItem($event, category.id)" variant="danger">Delete</b-button></td>
                      </tr>
                    </tbody>
                  </table>
                </b-card>
              </div>            
            </section>
          </b-col>
          <b-col col md="4">
            <div>
              <b-card class="my-card">
                  <b-form id="create-form" @submit="onSubmitCreate" @reset="onReset" v-if="showCreate">
                    <h3>Create Category Form</h3>
                    <hr />
                    <b-form-group id="input-group-1" label="Category Title:" label-for="input-1"
                      description="Enter a unique category name">
                      <b-form-input id="input-1" v-model="form.name" type="text" required
                        placeholder="Enter a name" >
                      </b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-2" label="Category Details:" label-for="input-2">
                      <b-form-textarea id="input-2" v-model="form.details" type="text" required
                        rows=5 max-rows=10 placeholder="Enter Code">
                      </b-form-textarea>
                    </b-form-group>                   

                    <b-button type="submit" variant="primary">Submit</b-button> &nbsp;
                    <b-button type="reset" variant="danger">Reset</b-button>
                  </b-form>
                  <b-form id="edit-form" @submit="onSubmitEdit" @reset="onReset" v-if="showEdit">
                    <h3>Edit Category Form</h3>
                    <hr />
                    <input id="id-hidden" v-model="form.category_id" type="text" hidden>
                    <b-form-group id="input-group-1" label="Category Title:" label-for="input-1"
                      description="Enter a unique category name">
                      <b-form-input id="input-1" v-model="form.name" type="text" required
                        placeholder="Enter a name" >
                      </b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-2" label="Category Details:" label-for="input-2">
                      <b-form-textarea id="input-2" v-model="form.details" type="text" required
                        rows=5 max-rows=10 placeholder="Enter Code">
                      </b-form-textarea>
                    </b-form-group>                    

                    <b-button type="submit" variant="primary">Submit</b-button> &nbsp;                    
                    <b-button type="reset" variant="danger">Reset</b-button>
                  </b-form>
                  <!-- <b-card class="mt-3" header="Form Data Result">
                    <pre class="m-0">{{ form }}</pre>
                  </b-card> -->
              </b-card>
            </div>
          </b-col>        
        </b-row>
    </b-container>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      categories: [],
      category: [],
      loading: true,
      errored: false,
      form: {
          category_id: '',
          name: '',
          details: '',
        },
      categories: [{ text: 'Select One', value: null },],
      showCreate: true,
      showEdit: false
    };
  },
  mounted() {
      this.getCategories();
  },
  methods: {
      getCategories(){
        axios
          .get("https://mobimall.pythonanywhere.com/api/products/categories/")
          .then(response => { this.categories = response.data; this.loading = false; })
          .catch(error => {alert(error)});
      },
      onSubmitCreate(evt) {
        evt.preventDefault()
        axios.post("https://mobimall.pythonanywhere.com/api/products/categories/create/", {
          name: this.form.name,
          details: this.form.details
        })
        .then(response => {this.getCategories(); this.onReset(evt)})
        .catch(error => {alert(error)})
      },
      onSubmitEdit(evt) {
        evt.preventDefault()
        // alert(this.form.category_id)
        // this.onReset();
        axios.put('https://mobimall.pythonanywhere.com/api/products/categories/update/'+this.form.category_id+'/',
          {
          name: this.form.name,
          details: this.form.details
        })
        .then(response => {this.getCategories(); this.onReset(evt); this.showEdit=false;this.showCreate=true;})
        .catch(error => {alert(error)})
      },
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.form.name = ''
        this.form.details = ''
        // Reset/clear native browser form validation state
        this.$nextTick(() => {
          this.showCreate = true;
          this.showEdit = false;
        })
      },
      loadEdit(evt, category_id) {
        axios.get("https://mobimall.pythonanywhere.com/api/products/categories/"+category_id+'/')
        .then(response => {
          let category = response.data;
          this.form.category_id = category.id;
          this.form.name = category.name;
          this.form.details = category.details;
          this.showCreate = false;
          this.showEdit = true;
          })
        .catch(error => {alert(error)})
      },
      deleteItem(evt, category_id) {
        if (confirm('Are you sure you want to delete the selected object from the database? The action cannot be undone')){
          axios.delete('https://mobimall.pythonanywhere.com/api/products/categories/'+category_id+'/')
            .then(response => {this.getCategories()})
            .catch(error => {alert(error)})
        }else{
          // Nothing to be done
        }
        
      }
    }
};
</script>
<style scoped>
  .padd {padding: 2em}
  .center {margin-right: auto; margin-left: auto}
  .section-table {margin-bottom: 3em}
</style>