<template>
    <b-container fluid>
        <div class="chart">
            <chart :chart-data="datacollection"></chart>
        </div>
    </b-container>
</template>
<script>
    import Chart from "./../chart.js";
    export default {
        components: {
        Chart
        },
        data() {
        return {
            datacollection: null
        };
        },
        mounted() {
        this.fillData();
        },
        methods: {
        fillData() {
            this.datacollection = {
            labels: [
                "Bread",
                "Delmonte",
                "Sprite",
            ],
            datasets: [
                {
                label: "Sales by Quantity Sold",
                backgroundColor: "#f87979",
                data: [70, 20, 12]
                },
            ]
            };
        },
        }
    };
</script>
<style>
.chart {
    max-height: 10em;
}
</style>