<template>
    <b-container fluid class="padd">
        <b-row>
          <!-- <b-col cols="1"></b-col> -->
          <b-col col md="8">
            <b-jumbotron v-if="errored">
              <p>Error Experienced</p>            
            </b-jumbotron>
            <section v-else>
              <b-container fluid v-if="loading" class="text-center" style="margin-top:10em">
                <b-spinner variant="success" label="Loading..." class="center"></b-spinner>
              </b-container>            
              <div v-else>
                <b-card>
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Payment Method</th>
                        <th scope="col">Prefix</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(p_method, index) in p_methods" :key="index">
                        <th scope="row">{{ ++index }}</th>
                        <td>{{ p_method.name }}</td>
                        <td>{{ p_method.prefix }}</td>
                        <td><b-button v-on:click="loadEdit($event, p_method.id)" variant="primary">Edit</b-button></td>
                        <td><b-button v-on:click="deleteItem($event, p_method.id)" variant="danger">Delete</b-button></td>
                      </tr>
                    </tbody>
                  </table>
                </b-card>
              </div>            
            </section>
          </b-col>
          <b-col col md="4">
            <div>
              <b-card class="my-card">
                  <b-form id="create-form" @submit="onSubmitCreate" @reset="onReset" v-if="showCreate">
                    <h3>Create Payment Methos</h3>
                    <hr />
                    <b-form-group id="input-group-1" label="Payment Method:" label-for="input-1">
                      <b-form-input id="input-1" v-model="form.name" type="text" required
                        placeholder="Enter method name" >
                      </b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-2" label="Prefix:" label-for="input-2">
                      <b-form-input id="input-2" v-model="form.prefix" type="text" required
                        description="Enter a 3-5 letter prefix" placeholder="Enter prefix">
                      </b-form-input>
                    </b-form-group>                   

                    <b-button type="submit" variant="primary">Submit</b-button> &nbsp;
                    <b-button type="reset" variant="danger">Reset</b-button>
                  </b-form>
                  <b-form id="edit-form" @submit="onSubmitEdit" @reset="onReset" v-if="showEdit">
                    <h3>Edit Payment Method</h3>
                    <hr />
                    <input id="id-hidden" v-model="form.p_method_id" type="text" hidden>
                    <b-form-group id="input-group-1" label="Payment Method:" label-for="input-1">
                      <b-form-input id="input-1" v-model="form.name" type="text" required
                        placeholder="Enter method name" >
                      </b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-2" label="Prefix:" label-for="input-2">
                      <b-form-input id="input-2" v-model="form.prefix" type="text" required
                        description="Enter a 3-5 letter prefix" placeholder="Enter prefix">
                      </b-form-input>
                    </b-form-group>                      

                    <b-button type="submit" variant="primary">Submit</b-button> &nbsp;                    
                    <b-button type="reset" variant="danger">Reset</b-button>
                  </b-form>
                  <!-- <b-card class="mt-3" header="Form Data Result">
                    <pre class="m-0">{{ form }}</pre>
                  </b-card> -->
              </b-card>
            </div>
          </b-col>        
        </b-row>
    </b-container>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      p_methods: [],
      loading: true,
      errored: false,
      form: {
          p_method_id: '',
          name: '',
          prefix: '',
        },
      showCreate: true,
      showEdit: false
    };
  },
  mounted() {
      this.getPaymentMethods();
  },
  methods: {
      getPaymentMethods(){
        axios
          .get("https://mobimall.pythonanywhere.com/api/sales/payments/")
          .then(response => { this.p_methods = response.data; this.loading = false; })
          .catch(error => {alert(error)});
      },
      onSubmitCreate(evt) {
        evt.preventDefault()
        axios.post("https://mobimall.pythonanywhere.com/api/sales/payments/create/", {
          name: this.form.name,
          prefix: this.form.prefix
        })
        .then(response => {this.getPaymentMethods(); this.onReset(evt)})
        .catch(error => {alert(error)})
      },
      onSubmitEdit(evt) {
        evt.preventDefault()
        // alert(this.form.p_method_id, this.form.name, this.form.prefix)
        // this.onReset();
        axios.put('https://mobimall.pythonanywhere.com/api/sales/payments/update/'+this.form.p_method_id+'/',
          {
          name: this.form.name,
          prefix: this.form.prefix
        })
        .then(response => {this.getPaymentMethods(); this.onReset(evt)})
        .catch(error => {alert(error)})
      },
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.form.name = ''
        this.form.prefix = ''
        // Reset/clear native browser form validation state
        // this.$nextTick(() => {
          this.showCreate = true;
          this.showEdit = false;
        // })
      },
      loadEdit(evt, p_method_id) {
        axios.get("https://mobimall.pythonanywhere.com/api/sales/payments/"+p_method_id+'/')
        .then(response => {
          this.form.p_method_id = response.data.id;
          this.form.name = response.data.name;
          this.form.prefix = response.data.prefix;
          this.showCreate = false;
          this.showEdit = true;
          })
        .catch(error => {alert(error)})
      },
      deleteItem(evt, p_method_id) {
        // alert(category_id)
        if (confirm('Are you sure you want to delete the selected object from the database? The action cannot be undone')){
          axios.delete('https://mobimall.pythonanywhere.com/api/products/categories/'+p_method_id+'/')
            .then(response => {this.getPaymentMethods()})
            .catch(error => {alert(error)})
        }else{
          // Nothing to be done
        }
        
      }
    }
};
</script>
<style scoped>
  .padd {padding: 2em}
  .center {margin-right: auto; margin-left: auto}
</style>