<template>
    <b-container fluid class="padd">
        <b-row>
          <!-- <b-col cols="1"></b-col> -->
          <b-col col md="8">
            <b-jumbotron v-if="errored">
              <p>Error Experienced</p>            
            </b-jumbotron>
            <section v-else class="section-table">
              <b-container fluid v-if="loading" class="text-center" style="margin-top:10em">
                <b-spinner variant="success" label="Loading..." class="center"></b-spinner>
              </b-container>            
              <div v-else>
                <b-card>
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col">Buying Price</th>
                        <th scope="col">Selling Price</th>
                        <th scope="col">Date Enforced</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(price, index) in prices" :key="index">
                        <th scope="row">{{ ++index }}</th>
                        <td>{{ price.product.name }}</td>
                        <td>{{ price.buy_price }}</td>
                        <td>{{ price.sell_price }}</td>
                        <td>{{ price.load_date | formatDate}}</td>
                        <td><b-button v-on:click="loadEdit($event, price.id)" variant="primary">Edit</b-button></td>
                        <td><b-button v-on:click="deleteItem($event, price.id)" variant="danger">Delete</b-button></td>
                      </tr>
                    </tbody>
                  </table>
                </b-card>
              </div>            
            </section>
          </b-col>
          <b-col col md="4">
            <div>
              <b-card class="my-card">
                  <b-form id="create-form" @submit="onSubmitCreate" @reset="onReset" v-if="showCreate">
                    <h3>Create Price Form</h3>
                    <hr />
                    <b-form-group id="input-group-1" label="Product:" label-for="input-1">
                      <b-form-select id="input-1" v-model="form.product" :options="products" 
                        required readonly>
                      </b-form-select>
                    </b-form-group>

                    <b-form-group id="input-group-2" label="Stock Buying Price:" label-for="input-2">
                      <b-form-input id="input-2" v-model="form.buy_price" type="number" required
                        placeholder="Buying Price">
                      </b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-2" label="Stock Retailing Price:" label-for="input-2">
                      <b-form-input id="input-2" v-model="form.sell_price" type="number" required
                        placeholder="Selling Price">
                      </b-form-input>
                    </b-form-group>                        

                    <b-button type="submit" variant="primary">Submit</b-button> &nbsp;                    
                    <b-button type="reset" variant="danger">Reset</b-button>
                  </b-form>
                  <b-form id="edit-form" @submit="onSubmitEdit" @reset="onReset" v-if="showEdit">
                    <h3>Edit Price Form</h3>
                    <hr />
                    <input id="id-hidden" v-model="form.price_id" type="text" hidden>
                    <b-form-group id="input-group-1" label="Product:" label-for="input-1">
                      <b-form-select id="input-1" v-model="form.product" :options="products" 
                        required readonly>
                      </b-form-select>
                    </b-form-group>

                    <b-form-group id="input-group-2" label="Stock Buying Price:" label-for="input-2">
                      <b-form-input id="input-2" v-model="form.buy_price" type="number" required
                        placeholder="Buying Price">
                      </b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-2" label="Stock Retailing Price:" label-for="input-2">
                      <b-form-input id="input-2" v-model="form.sell_price" type="number" required
                        placeholder="Selling Price">
                      </b-form-input>
                    </b-form-group>                        

                    <b-button type="submit" variant="primary">Submit</b-button> &nbsp;                    
                    <b-button type="reset" variant="danger">Reset</b-button>
                  </b-form>
                  <!-- <b-card class="mt-3" header="Form Data Result">
                    <pre class="m-0">{{ form }}</pre>
                  </b-card> -->
              </b-card>
            </div>
          </b-col>        
        </b-row>
    </b-container>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      prices: [],
      loading: true,
      errored: false,
      form: {
          price_id: '',
          product: '',
          buy_price: '',
          sell_price: '',
        },
      products: [{ text: 'Select One', value: null },],
      showCreate: true,
      showEdit: false
    };
  },
  mounted() {
      this.getPrices();
      this.getProducts()
  },
  methods: {
      getPrices(){
        axios
          .get("https://mobimall.pythonanywhere.com/api/products/prices/")
          .then(response => {this.prices = response.data; this.loading = false; })
          .catch(error => {alert(error)});
      },
      getProducts(){
        axios
          .get("https://mobimall.pythonanywhere.com/api/products/")
          .then(response => {
            for(let product of response.data){
              this.products.push({value: product.id, text:product.name})
            }
            })
          .catch(error => {alert(error)});
      },
      onSubmitCreate(evt) {
        evt.preventDefault()
        // alert(this.form.category_id
        // this.onReset();
        axios.post('https://mobimall.pythonanywhere.com/api/products/prices/create/',
          {
          product: this.form.product,
          sell_price: this.form.sell_price,
          buy_price: this.form.buy_price
        })
        .then(response => {this.getPrices(); this.onReset()})
        .catch(error => {alert(error)})
      },
      onSubmitEdit(evt) {
        evt.preventDefault()
        // alert(this.form.category_id
        // this.onReset();
        axios.put('https://mobimall.pythonanywhere.com/api/products/prices/update/'+this.form.price_id+'/',
          {
          product: this.form.product,
          sell_price: this.form.sell_price,
          buy_price: this.form.buy_price
        })
        .then(response => {this.getPrices(); this.onReset(); this.showEdit=false; this.showCreate=true;})
        .catch(error => {alert(error)})
      },
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.form.product = ''
        this.form.sell_price = ''
        this.form.buy_price = ''
        // Reset/clear native browser form validation state
        this.$nextTick(() => {
          this.showCreate = true;
          this.showEdit = false;
        })
      },
      loadEdit(evt, price_id) {
        // alert(price_id)
        axios.get("https://mobimall.pythonanywhere.com/api/products/prices/"+price_id+'/')
        .then(response => {
          let obj = response.data;
          this.form.price_id = obj.id;
          this.form.product = obj.product.id;
          this.form.sell_price = obj.sell_price;
          this.form.buy_price = obj.buy_price;
          this.showCreate = false;
          this.showEdit = true;
          })
        .catch(error => {alert(error)})
      },
      deleteItem(evt, price_id) {
        // alert(price_id)
        if (confirm('Are you sure you want to delete the selected object from the database? The action cannot be undone')){
          axios.delete('https://mobimall.pythonanywhere.com/api/products/prices/'+price_id+'/')
            .then(response => {this.getPrices()})
            .catch(error => {alert(error)})
        }else{
          // Nothing to be done
        }        
      }
    }
};
</script>
<style scoped>
  .padd {padding: 2em}
  .center {margin-right: auto; margin-left: auto}
  .section-table {margin-bottom: 3em}
</style>