<template>
    <b-container fluid class="padd">
        <b-row>
          <!-- <b-col cols="1"></b-col> -->
          <b-col col md="8">
            <b-jumbotron v-if="errored">
              <p>Error Experienced</p>            
            </b-jumbotron>
            <section v-else class="section-table">
              <b-container fluid v-if="loading" class="text-center" style="margin-top:10em">
                <b-spinner variant="success" label="Loading..." class="center"></b-spinner>
              </b-container>            
              <div v-else>
                <b-card>
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Code</th>
                        <th scope="col">Category</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(product, index) in products" :key="index">
                        <th scope="row">{{ ++index }}</th>
                        <td>{{ product.name }}</td>
                        <td>{{ product.code }}</td>
                        <td>{{ product.category.name }}</td>
                        <td><b-button v-on:click="loadEdit($event, product.id)" variant="primary">Edit</b-button></td>
                        <td><b-button v-on:click="deleteItem($event, product.id)" variant="danger">Delete</b-button></td>
                      </tr>
                    </tbody>
                  </table>
                </b-card>
              </div>            
            </section>
          </b-col>
          <b-col col md="4">
            <div>
              <b-card class="my-card">
                  <b-form id="create-form" @submit="onSubmitCreate" @reset="onReset" v-if="showCreate">
                    <h3>Create Product Form</h3>
                    <hr />
                    <b-form-group id="input-group-1" label="Product Name:" label-for="input-1"
                      description="Enter a unique product name">
                      <b-form-input id="input-1" v-model="form.name" type="text" required
                        placeholder="Enter Product Name" >
                      </b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-2" label="Product Code:" label-for="input-2">
                      <b-form-input id="input-2" v-model="form.code" type="text" required
                        placeholder="Enter Code">
                      </b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-3" label="Category:" label-for="input-3">
                      <b-form-select id="input-3" v-model="form.category" :options="categories" 
                      required>
                      </b-form-select>
                    </b-form-group>                    

                    <b-button type="submit" variant="primary">Submit</b-button>
                    <b-button type="reset" variant="danger">Reset</b-button>
                  </b-form>
                  <b-form id="edit-form" @submit="onSubmitEdit" @reset="onReset" v-if="showEdit">
                    <h3>Edit Product Form</h3>
                    <hr />
                    <input id="id-hidden" v-model="form.product_id" type="text" hidden>
                    <b-form-group id="input-group-1" label="Product Name:" label-for="input-1"
                      description="Enter a unique product name">
                      <b-form-input id="input-1" v-model="form.name" type="text" required
                        placeholder="Enter Product Name" >
                      </b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-2" label="Product Code:" label-for="input-2">
                      <b-form-input id="input-2" v-model="form.code" type="text" required
                        placeholder="Enter Code">
                      </b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-3" label="Category:" label-for="input-3">
                      <b-form-select id="input-3" v-model="form.category" :options="categories" 
                      required>
                      </b-form-select>
                    </b-form-group>                    

                    <b-button type="submit" variant="primary">Submit</b-button>
                    <b-button type="reset" variant="danger">Reset</b-button>
                  </b-form>
                  <!-- <b-card class="mt-3" header="Form Data Result">
                    <pre class="m-0">{{ form }}</pre>
                  </b-card> -->
              </b-card>
            </div>
          </b-col>        
        </b-row>
    </b-container>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      products: [],
      product: {},
      loading: true,
      errored: false,
      form: {
          product_id: '',
          name: '',
          code: '',
        },
      categories: [{ text: 'Select One', value: null },],
      showCreate: true,
      showEdit: false
    };
  },
  mounted() {
    this.getProducts();
  },
  methods: {
      getProducts(){
        axios
      .get("https://mobimall.pythonanywhere.com/api/products/")
      .then(response => { this.products = response.data; this.loading = false; })
      .catch(error => {alert(error)});
    axios
        .get("https://mobimall.pythonanywhere.com/api/products/categories/")
        .then(response=> {
          for(let item of response.data){
            this.categories.push({value: item.id, text: item.name})
          }
        })
      },
      onSubmitCreate(evt) {
        evt.preventDefault()
        axios.post("https://mobimall.pythonanywhere.com/api/products/create/", {
          name: this.form.name,
          code: this.form.code,
          category: this.form.category
        })
        .then(response => {this.getProducts(); this.onReset(evt)})
        .catch(error => {alert(error)})
      },
      onSubmitEdit(evt) {
        evt.preventDefault();
        // alert(this.form.product_id);
        axios.put('https://mobimall.pythonanywhere.com/api/products/update/'+this.form.product_id+'/',
          {
            // id:this.form.product_id,
          name: this.form.name,
          code: this.form.code,
          category: this.form.category
        })
        .then(response => {this.getProducts(); this.onReset(evt);this.showEdit=false; this.showCreate=true})
        // .catch(error => {alert(error)})
      },
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.form.name = ''
        this.form.code = ''
        // Reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.showCreate = true;
          this.showEdit = false;
        })
      },
      loadEdit(evt, product_id) {
        axios.get("https://mobimall.pythonanywhere.com/api/products/"+product_id+'/' )
        .then(response => {
          let product = response.data;
          this.form.product_id = product.id;
          this.form.name = product.name;
          this.form.code = product.code;
          this.form.category = product.category;
          this.showCreate = false;
          this.showEdit = true;

          // alert(JSON.stringify(response.data));
          })
        .catch(error => {alert(error)})
      },
      deleteItem(evt, product_id) {
        // alert(product_id)
        if (confirm('Are you sure you want to delete the selected object from the database? The action cannot be undone')){
          axios.delete('https://mobimall.pythonanywhere.com/api/products/'+product_id)
            .then(response => {this.getProducts()})
            .catch(error => {alert(error)})
        }else{
          // Nothing to be done
        }        
      }
    }
};
</script>
<style scoped>
  .padd {padding: 2em}
  .center {margin-right: auto; margin-left: auto}
  .section-table {margin-bottom: 3em}
</style>