<template>
    <b-container fluid class="padd">
        <b-row>
          <!-- <b-col cols="1"></b-col> -->
          <b-col col md="8">
            <b-jumbotron v-if="errored">
              <p>Error Experienced</p>            
            </b-jumbotron>
            <section v-else class="section-table">
              <b-container fluid v-if="loading" class="text-center" style="margin-top:10em">
                <b-spinner variant="success" label="Loading..." class="center"></b-spinner>
              </b-container>            
              <div v-else>
                <b-card>
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col">Stock</th>
                        <th scope="col">&nbsp;</th>
                        <!-- <th scope="col">&nbsp;</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(quantity, index) in quantities" :key="index">
                        <th scope="row">{{ ++index }}</th>
                        <td>{{ quantity.product.name }}</td>
                        <td>{{ quantity.quantity }} pieces</td>
                        <td><b-button v-on:click="loadEdit($event, quantity.id)" variant="primary">Edit</b-button></td>
                        <!-- <td><b-button v-on:click="deleteItem($event, quantity.id)" variant="danger">Delete</b-button></td> -->
                      </tr>
                    </tbody>
                  </table>
                </b-card>
              </div>            
            </section>
          </b-col>
          <b-col col md="4">
            <div>
              <b-card class="my-card">
                  <b-form id="edit-form" @submit="onSubmitEdit" @reset="onReset" v-if="showEdit">
                    <h3>Edit Product Quantity Form</h3>
                    <hr />
                    <input id="id-hidden" v-model="form.quantity_id" type="text" hidden>
                    <b-form-group id="input-group-1" label="Product:" label-for="input-1">
                      <b-form-select id="input-1" v-model="form.product" :options="products" 
                        required readonly>
                      </b-form-select>
                    </b-form-group>

                    <b-form-group id="input-group-2" label="Quantity Available:" label-for="input-2">
                      <b-form-input id="input-2" v-model="form.quantity" type="number" required
                        placeholder="Available stock amount">
                      </b-form-input>
                    </b-form-group>              

                    <b-button type="submit" variant="primary">Submit</b-button> &nbsp;                    
                    <b-button type="reset" variant="danger">Reset</b-button>
                  </b-form>
                  <!-- <b-card class="mt-3" header="Form Data Result">
                    <pre class="m-0">{{ form }}</pre>
                  </b-card> -->
              </b-card>
            </div>
          </b-col>        
        </b-row>
    </b-container>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      quantities: [],
      loading: true,
      errored: false,
      form: {
          quantity_id: '',
          product: '',
          quantity: '',
        },
      products: [{ text: 'Select One', value: null },],
      showEdit: true
    };
  },
  mounted() {
      this.getQuantities();
  },
  methods: {
      getQuantities(){
        axios
          .get("https://mobimall.pythonanywhere.com/api/products/quantities/")
          .then(response => { 
            this.quantities = response.data;
            for(let qtt of response.data){
              this.products.push({value:qtt.product.id, text:qtt.product.name})
            }
            this.loading = false; })
          .catch(error => {alert(error)});
      },
      onSubmitEdit(evt) {
        evt.preventDefault()
        // alert(this.form.category_id
        // this.onReset();
        axios.put('https://mobimall.pythonanywhere.com/api/products/quantities/update/'+this.form.quantity_id+'/',
          {
          product: this.form.product,
          quantity: this.form.quantity
        })
        .then(response => {this.getQuantities(); this.onReset(evt);})
        .catch(error => {alert(error)})
      },
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.form.product = ''
        this.form.quantity = ''
        // Reset/clear native browser form validation state
        this.$nextTick(() => {
          // this.showCreate = true;
          this.showEdit = true;
        })
      },
      loadEdit(evt, quantity_id) {
        axios.get("https://mobimall.pythonanywhere.com/api/products/quantities/"+quantity_id+'/')
        .then(response => {
          let obj = response.data;
          this.form.quantity_id = obj.id;
          this.form.product = obj.product.id;
          this.form.quantity = obj.quantity;
          // this.showCreate = false;
          this.showEdit = true;
          })
        .catch(error => {alert(error)})
      },
    }
};
</script>
<style scoped>
  .padd {padding: 2em}
  .center {margin-right: auto; margin-left: auto}
  .section-table {margin-bottom: 3em}
</style>