<template>
    <b-container fluid class="padd">
        <b-row>
          <!-- <b-col cols="1"></b-col> -->
          <b-col col md="8">
            <b-jumbotron v-if="errored">
              <p>Error Experienced</p>            
            </b-jumbotron>
            <section v-else class="section-table">
              <b-container fluid v-if="loading" class="text-center" style="margin-top:10em">
                <b-spinner variant="success" label="Loading..." class="center"></b-spinner>
              </b-container>            
              <div v-else>
                <b-card>
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Receipt No.</th>
                        <th scope="col">Item</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                        <th scope="col">Payment</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(sale, index) in sales" :key="index">
                        <th scope="row">{{ ++index }}</th>
                        <td>{{ sale.receipt.number }}</td>
                        <td>{{ sale.product.name }}</td>
                        <td>{{ sale.price }}</td>
                        <td>{{ sale.sell_time | formatDate }}</td>
                        <td>{{ sale.payment_method.name }}</td>
                      </tr>
                    </tbody>
                  </table>
                </b-card>
              </div>            
            </section>
          </b-col>
          <b-col col md="4">
            <div>
              <b-card class="my-card">  
                <h3>Sales Summary</h3>
                    <table responsive class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Item</th>
                          <th scope="col">Qtty Sold</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(product, index) in product_summary" :key="index">
                          <th scope="row">{{ ++index }}</th>
                          <td> {{ product.name }}</td>
                          <td> {{ product.quantity }}</td>
                        </tr>
                      </tbody>
                    </table>
                    <table responsive class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">Sales</th>
                          <th scope="col">Buying Price</th>
                          <th scope="col">Revenue</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th>{{ sales_summary.Bought }}.00</th>
                          <td> {{ sales_summary.Sold }}.00</td>
                          <td> {{ sales_summary.Profit }}.00</td>
                        </tr>
                      </tbody>
                    </table>
                  <!-- <b-card class="mt-3" header="Form Data Result">
                    <pre class="m-0">{{ form }}</pre>
                  </b-card> -->
              </b-card>
            </div>
          </b-col>        
        </b-row>
    </b-container>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      sales: [],
      loading: true,
      errored: false,
      product_summary: '',
      sales_summary: '',
      form: {
          sale_id: '',
          product: '',
          price: '',
          receipt_no: '',
        },
      products: [{ text: 'Select One', value: null },],
      showCreate: true,
      showEdit: false
    };
  },
  mounted() {
      this.getSales();
      this.getProducts();
      this.getSummary();
  },
  methods: {
      getSales(){
        axios
          .get("https://mobimall.pythonanywhere.com/api/sales/")
          .then(response => {this.sales = response.data; this.loading = false; })
          .catch(error => {alert(error)});
      },
      getProducts(){
        axios
          .get("https://mobimall.pythonanywhere.com/api/products/")
          .then(response => {
            for(let product of response.data){
              this.products.push({value: product.id, text:product.name})
            }
            })
          .catch(error => {alert(error)});
      },
      getSummary(){
        axios
          .get("https://mobimall.pythonanywhere.com/api/sales/summary/")
          .then(response => {
              this.product_summary = response.data.product_count;
              this.sales_summary = response.data.sale_data;
          })
      },     
      onSubmitEdit(evt) {
        evt.preventDefault()
        // alert(this.form.category_id
        // this.onReset();
        axios.put('https://mobimall.pythonanywhere.com/api/products/prices/update/'+this.form.quantity_id+'/',
          {
          product: this.form.product,
          sell_price: this.form.sell_price,
          buy_price: this.form.buy_price
        })
        .then(response => {this.getPrices(); this.onReset(); this.showEdit=false; this.showCreate=true;})
        .catch(error => {alert(error)})
      },
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.form.product = ''
        this.form.sell_price = ''
        this.form.buy_price = ''
        // Reset/clear native browser form validation state
        this.$nextTick(() => {
          this.showCreate = true;
          this.showEdit = false;
        })
      },
      loadEdit(evt, price_id) {
        // alert(price_id)
        axios.get("https://mobimall.pythonanywhere.com/api/products/prices/"+price_id+'/')
        .then(response => {
          let obj = response.data;
          this.form.price_id = obj.id;
          this.form.product = obj.product.id;
          this.form.sell_price = obj.sell_price;
          this.form.buy_price = obj.buy_price;
          this.showCreate = false;
          this.showEdit = true;
          })
        .catch(error => {alert(error)})
      },
      deleteItem(evt, price_id) {
        // alert(price_id)
        if (confirm('Are you sure you want to delete the selected object from the database? The action cannot be undone')){
          axios.delete('https://mobimall.pythonanywhere.com/api/products/prices/'+price_id+'/')
            .then(response => {this.getPrices()})
            .catch(error => {alert(error)})
        }else{
          // Nothing to be done
        }        
      }
    }
};
</script>
<style scoped>
  .padd {padding: 2em}
  .center {margin-right: auto; margin-left: auto}
  .section-table {margin-bottom: 3em}
</style>