<template>
    <div>
      <b-navbar toggleable="lg" type="light" variant="white" class="custom-navbar">
        <b-container>
            <b-navbar-brand href="#">Admin Dashboard</b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            <b-collapse id="nav-collapse" is-nav>
              
              <!-- Right aligned nav items -->
              <b-navbar-nav class="ml-auto">
                <b-nav-form>
                  <!-- <b-navbar-nav>
                    <b-nav-item class="btn btn-primary" to="/products">Products</b-nav-item>
                    <b-nav-item class="btn btn-primary" to="/prices">Prices</b-nav-item>
                    <b-nav-item class="btn btn-primary" to="/quantities">Quantities</b-nav-item>
                    <b-nav-item class="btn btn-primary" to="/sales">Sales</b-nav-item>
                  </b-navbar-nav> -->
                </b-nav-form>
                <b-nav-item-dropdown right>
                  <!-- Using 'button-content' slot -->
                  <template slot="button-content"><em>User</em></template>
                  <b-dropdown-item href="#">Profile</b-dropdown-item>
                  <b-dropdown-item href="#">Sign Out</b-dropdown-item>
                </b-nav-item-dropdown>
              </b-navbar-nav>
            </b-collapse>
          </b-container>
      </b-navbar>
    </div>  
</template>

<style scoped>
  .custom-navbar {border: 1px solid rgb(197, 197, 197)}
</style>
