<template>
    <div class="aside">
        <h2 class="text-center" style="padding-top:3px">Mobi Mall</h2>
        <hr /> 
        <div class="div-link">
            <li class="li-link"><b-link class="custom-link" to="/">Products</b-link></li>
        </div>
        <div class="div-link">
            <li class="li-link"><b-link class="custom-link" to="/categories">Categories</b-link></li>
        </div>
        <div class="div-link">
            <li class="li-link"><b-link class="custom-link" to="/quantities">Quantities</b-link></li>
        </div>
        <div class="div-link">
            <li class="li-link"><b-link class="custom-link" to="/prices">Prices</b-link></li>
        </div>
        <div class="div-link">
            <li class="li-link"><b-link class="custom-link" to="/p_methods">Payment Methods</b-link></li>
        </div>
        <div class="div-link">
            <li class="li-link"><b-link class="custom-link" to="/sales">Sales</b-link></li>
        </div>
    </div>
</template>


<style scoped>
    .aside {
        height: 100vh;
        /* max-width: 16.7%;
        position: fixed; */
        padding: 1em;
        overflow-x: scroll;
        background: rgb(148, 148, 148);
    }
    /* .asides :hover {
        background: white;
    } */
    .div-link {        
        border-bottom: 1px solid rgb(231, 231, 231);
    }
    .div-link :hover {
        text-decoration: none;
        color: black;
        background: white;
    }
    .div-link :active {
        text-decoration: none;
        color: black;
    }
    .content {
        padding-bottom: .5em;
    }
    .my-collapse :hover {
        text-decoration: underline;
    }
    .li-link {
        padding: 1em;
    }
    .li-link {
        list-style: none;
    }
    .my-collapse {
        margin: 1em 0 1em 2em;
    }
    .custom-link {
        color: black
    }
</style>