<template>
  <div id="app" style="overflow:hidden">
    <b-row no-gutters>
      <b-col col md="2">
        <aside>
          <Sidebar />
        </aside>
      </b-col>
      <b-col col md="10">
        <Navbar />
        <router-view />
      </b-col>
    </b-row>
    
  </div>
</template>
<script>
  // import HelloWorld from '@/components/HelloWorld.vue'
  import Navbar from '@/components/Navbar.vue';  
  import Sidebar from '@/components/Sidebar.vue'
    export default {
      name: 'navbar',
      components: {
        Navbar, Sidebar
      }
  }
</script>

<style scoped>
  aside {
    position: relative;
  }
</style>